@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: rgb(72, 220, 220);
}

#home-img {
    height: 400px;
    width: 100%;
}

.hed {
    color: white;
    background-color: black;
}

.nav-link:hover {
    color: rgb(227, 20, 20) !important;
    background-color: coral
}

#cnt-form {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cnt-form input {
    width: 400px;
}